h1{
    font-family: 'Montserrat';
}
h2{
    font-family: 'Montserrat';
}
h3{
    font-family: 'Montserrat';
}
h4{
    font-family: 'Montserrat';
}
p{
    font-size: 1rem;
    font-family: 'Ubuntu';
}
.navbar{
    background-color: #393c3d;
}
.toggler{
    color: wheat;
}
.navbar-brand{
    color: #DBE2EF;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link{
    color: #DBE2EF;
}
.first-container{
    background-image: url('https://cdn.pixabay.com/photo/2020/05/06/06/18/blue-5136251_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #EAFDFC;
    padding : 0;
    margin:0;
    position: relative;
}
.profile-picture{
    width: 300px;
    height: auto;
    margin: 10% 10%;
}
.robot-picture{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 20%;
}
.robot-picture-hidden{
    width: 300px;
    position: relative;
    bottom: 0;
    right: 20%;
    visibility: hidden;
}
#second{
    background-image: url('https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.second-container{
    padding : 0% 5%;
}
.bio{
    padding: 5%;
    text-align: center;
    display: block;
}
.skill-elements{
    padding-top: 3%;
    text-decoration: underline;
}
.third-container{
    background-color: #91D8E4;
    text-align: center;
    padding: 5%;
}
.testimonial-text{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 5%;
    font-size: 1.2rem;
}
.carousel-item{
    height: 300px;
}
.support{
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding: 5%;
    padding-bottom: 2%;
    position: relative;
}
.tihany{
    text-align: center;
    position: relative;

}
.tihany-picture{
    width: 25%;
    display: block;
    vertical-align: auto;
    position: relative;
    margin: auto;
    bottom:20%;
}
.tihany-picture-hidden{
    width: 200px;  
    visibility: hidden;  
}
.end{
    background-color: #a5a5a5;
    padding: 1%;
    text-align: center;
}

