.navbar{
    background-color: #393c3d;
}
.navbar-brand{
    color: #DBE2EF;
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-item{
    color: #DBE2EF;
}
.first-container{
    background-color: #DBE2EF;
}
.profile-picture{
    width: 60%;
    margin: 10% 10%;
}
.intro{
    padding: 5%;
    line-height: 6.5;
}
.bio{
    padding: 5%;

}